<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>TRY AGAIN!</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
	<style>
	div
	{	border: 2px solid blue;
		 border-radius: 10px; 
		 padding: 10px;
		 margin-top: 100px;
		 width: 1200px;
	}
	</style>
</head>
<body>
	<center>
	<div>
		<h1 style="font-family: 'Rampart One', cursive;">ERROR!</h1>
		<h1 style="font-family: 'Rampart One', cursive;">This Email id has been taken. Please enter another email id.</h1>
		<h3>You can not register with same email id.</h3>
		<h4>Sorry for the inconvenience!</h4>
		<br>
		<h2>GO BACK TO<a href="https://flaskassignmentav.herokuapp.com/"> REGISTRATION PAGE</a></h2>
	</div>
	</center>

</body>
</html>